.mutt/stg
.mutt/rt
.mutt/user
.mutt/aliases
.mutt/signature
.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/history.cmdline
.newsboat/history.search
.newsboat/queue
.config/nvim/.netrwhist
.config/mpd/database
.config/mpd/log
.config/mpd/playlists
.config/ncmpcpp/error.log
.xmonad/prompt-history
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-*
.mlterm/challenge
.mlterm/msg.log
