! Urxvt specifics
URxvt.perl-ext-common:  resize-font
URxvt.keysym.F11:       perl:fullscreen:switch
URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-equal:   resize-font:bigger
URxvt.keysym.C-0:       resize-font:reset
URxvt.keysym.C-question:resize-font:show

URxvt.transparent: true
URxvt.shading: 10

!URxvt.termName: rxvt-unicode-256color

! XClip
*.selectToClipboard: true

! Transparency
*.alpha: 0.0

! Scroll Bar
*.scrollBar: false

! Font
!*.font: xft:FantasqueSansMono Nerd Font Mono:pixelsize=15
*.faceName: FantasqueSansMono Nerd Font Mono
*.faceSize: 15

! special
*.foreground:   #DEDEDE
*.background:   #0D0D0E
*.cursorColor:  #DEDEDE

! black
*.color0:       #0D0D0E
*.color8:       #4F4F4F

! red
*.color1:       #7A002B
*.color9:       #DB004D

! green
*.color2:       #007A4F
*.color10:      #00C881

! yellow
*.color3:       #E1BE51
*.color11:      #CCA323

! blue
*.color4:       #5174E1
*.color12:      #8EA5EB

! magenta
*.color5:       #6016CD
*.color13:      #74009D

! cyan
*.color6:       #0085B0
*.color14:      #15C6FF

! white
*.color7:       #E2E2E4
*.color15:      #DEDEE0

! DEFAULT
! special
!*.foreground:   #c5c8c6
!*.background:   #0b0b0c
!*.cursorColor:  #c5c8c6

! black
!*.color0:       #222222
!*.color8:       #373b41

! red
!*.color1:       #a54242
!*.color9:       #cc6666

! green
!*.color2:       #8c9440
!*.color10:      #b5bd68

! yellow
!*.color3:       #de935f
!*.color11:      #f0c674

! blue
!*.color4:       #5f819d
!*.color12:      #81a2be

! magenta
!*.color5:       #85678f
!*.color13:      #b294bb

! cyan
!*.color6:       #20665d
!*.color14:      #8abeb7

! white
!*.color7:       #707880
!*.color15:      #c5c8c6
