! Urxvt specifics
URxvt.perl-ext-common:  resize-font
URxvt.keysym.F11:       perl:fullscreen:switch
URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-equal:   resize-font:bigger
URxvt.keysym.C-0:       resize-font:reset
URxvt.keysym.C-question:resize-font:show

!URxvt.transparent: true
!URxvt.shading: 10

!URxvt.termName: rxvt-unicode-256color

! XClip
*.selectToClipboard: true

! Transparency
!*.alpha: 0.0

! Scroll Bar
*.scrollBar: false

! Font
*.faceName: GoMono Nerd Font Mono
*.faceSize: 15

! special
*.foreground:   #FFF6F6
*.background:   #060404
*.cursorColor:  #FFF6F6

! black
*.color0:       #060404
*.color8:       #EEF7F7

! red
*.color1:       #8F0024
*.color9:       #A10028

! green
*.color2:       #0EAD69
*.color10:      #0FBD72

! yellow
*.color3:       #FFB20F
*.color11:      #FFBA25

! blue
*.color4:       #0047AB
*.color12:      #004FBE

! magenta
*.color5:       #8D029B
*.color13:      #9F03AD

! cyan
*.color6:       #20B2AA
*.color14:      #22BFB7

! white
*.color7:       #FFF6F6
*.color15:      #161414

! DEFAULT
! special
!*.foreground:   #c5c8c6
!*.background:   #0b0b0c
!*.cursorColor:  #c5c8c6

! black
!*.color0:       #222222
!*.color8:       #373b41

! red
!*.color1:       #a54242
!*.color9:       #cc6666

! green
!*.color2:       #8c9440
!*.color10:      #b5bd68

! yellow
!*.color3:       #de935f
!*.color11:      #f0c674

! blue
!*.color4:       #5f819d
!*.color12:      #81a2be

! magenta
!*.color5:       #85678f
!*.color13:      #b294bb

! cyan
!*.color6:       #20665d
!*.color14:      #8abeb7

! white
!*.color7:       #707880
!*.color15:      #c5c8c6
